{{ partial "header" . }}
{{ $pages := where .Site.RegularPages "Type" "til" }}
{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
<div id="content" class="site-content">
  <div class="tils">
    {{ range $paginator.Pages }}
    <article class="article article--{{ .Type }}">
      <h2 class="article__title"><a href="{{ .Permalink }}">{{ .Date.Format "02/01/2006" }}</a></h2>
      <div class="article__content">
        {{ .Content }}
      </div>
    </article>
    {{ end }}
  </div>
{{ template "_internal/pagination.html" . }}
</div><!-- #content -->
{{ partial "footer" . }}
