$font-body: 'Roboto Mono', sans-serif;
$font-title: 'Roboto Mono', sans-serif;
$font-monospace: 'Roboto Mono', monospace;
$font-weight-normal: 400;
$font-weight-bold: 700;

$content-width: 750px;

$color-primary: #1C9963;
$color-secondary: '';
$color-dark: #222831;
$color-gray: #ccc;
$color-light: rgba($color-dark, .5);
